<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>guardarDepartamento</servlet-name>
        <servlet-class>Servlet.guardarDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarDepartamento</servlet-name>
        <servlet-class>Servlet.borrarDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarDepartamento</servlet-name>
        <servlet-class>Servlet.actualizarDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarProvincia</servlet-name>
        <servlet-class>Servlet.guardarProvincia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarProvincia</servlet-name>
        <servlet-class>Servlet.borrarProvincia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarProvincia</servlet-name>
        <servlet-class>Servlet.actualizarProvincia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarDistrito</servlet-name>
        <servlet-class>Servlet.guardarDistrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarDistrito</servlet-name>
        <servlet-class>Servlet.actualizarDistrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarDistrito</servlet-name>
        <servlet-class>Servlet.borrarDistrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarDepartamento</servlet-name>
        <servlet-class>Servlet.buscarDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autenticacion</servlet-name>
        <servlet-class>Servlet.autenticacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deshabilitarDepartamento</servlet-name>
        <servlet-class>Servlet.deshabilitarDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarPerfil</servlet-name>
        <servlet-class>Servlet.guardarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarPerfil</servlet-name>
        <servlet-class>Servlet.actualizarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarUsuario</servlet-name>
        <servlet-class>Servlet.guardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarUsuario</servlet-name>
        <servlet-class>Servlet.actualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarPerfilUsuario</servlet-name>
        <servlet-class>Servlet.actualizarPerfilUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarMenu</servlet-name>
        <servlet-class>Servlet.guardarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarMenu</servlet-name>
        <servlet-class>Servlet.actualizarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarSubmenu</servlet-name>
        <servlet-class>Servlet.guardarSubmenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarSubmenu</servlet-name>
        <servlet-class>Servlet.actualizarSubmenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarDetallePermiso</servlet-name>
        <servlet-class>Servlet.guardarDetallePermiso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarDetallePermiso</servlet-name>
        <servlet-class>Servlet.actualizarDetallePermiso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarCargo</servlet-name>
        <servlet-class>Servlet.guardarCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarCargo</servlet-name>
        <servlet-class>Servlet.borrarCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarCargo</servlet-name>
        <servlet-class>Servlet.actualizarCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarArea</servlet-name>
        <servlet-class>Servlet.guardarArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarArea</servlet-name>
        <servlet-class>Servlet.borrarArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarArea</servlet-name>
        <servlet-class>Servlet.actualizarArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarTipoContrato</servlet-name>
        <servlet-class>Servlet.guardarTipoContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarTipoContrato</servlet-name>
        <servlet-class>Servlet.borrarTipoContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarTipoContrato</servlet-name>
        <servlet-class>Servlet.actualizarTipoContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccionesHorario</servlet-name>
        <servlet-class>Control.AccionesHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarHorario</servlet-name>
        <servlet-class>Servlet.guardarHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarHorario</servlet-name>
        <servlet-class>Servlet.actualizarHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarHorario</servlet-name>
        <servlet-class>Servlet.borrarHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarContrato</servlet-name>
        <servlet-class>Servlet.guardarContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarContrato</servlet-name>
        <servlet-class>Servlet.actualizarContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarContrato</servlet-name>
        <servlet-class>Servlet.borrarContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarLeyenda</servlet-name>
        <servlet-class>Servlet.guardarLeyenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarLeyenda</servlet-name>
        <servlet-class>Servlet.borrarLeyenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarLeyenda</servlet-name>
        <servlet-class>Servlet.actualizarLeyenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarAsistencia</servlet-name>
        <servlet-class>Servlet.borrarAsistencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarPersona</servlet-name>
        <servlet-class>Servlet.ActualizarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarPersona</servlet-name>
        <servlet-class>Servlet.actualizarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accionesEmpresa</servlet-name>
        <servlet-class>Servlet.accionesEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarEmpresa</servlet-name>
        <servlet-class>Servlet.actualizarEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarEmpleado</servlet-name>
        <servlet-class>Servlet.actualizarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarControlPedidos</servlet-name>
        <servlet-class>Servlet.actualizarControlPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarResumenClientes</servlet-name>
        <servlet-class>Servlet.actualizarResumenClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarControlDespacho</servlet-name>
        <servlet-class>Servlet.actualizarControlDespacho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarIngresoAlmacenProducto</servlet-name>
        <servlet-class>Servlet.actualizarIngresoAlmacenProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deshabilitarPersona</servlet-name>
        <servlet-class>Servlet.deshabilitarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deshabilitarEmpresa</servlet-name>
        <servlet-class>Servlet.deshabilitarEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deshabilitarEmpleado</servlet-name>
        <servlet-class>Servlet.deshabilitarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deshabilitarPerfil</servlet-name>
        <servlet-class>Servlet.deshabilitarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarPerfilUsuario</servlet-name>
        <servlet-class>Servlet.borrarPerfilUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarMenu</servlet-name>
        <servlet-class>Servlet.borrarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarSubMenu</servlet-name>
        <servlet-class>Servlet.borrarSubMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deshabilitarDetallePermiso</servlet-name>
        <servlet-class>Servlet.deshabilitarDetallePermiso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarDetallePermiso</servlet-name>
        <servlet-class>Servlet.borrarDetallePermiso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deshabilitarControlPedidos</servlet-name>
        <servlet-class>Servlet.deshabilitarControlPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deshabilitarResumenClientes</servlet-name>
        <servlet-class>Servlet.deshabilitarResumenClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deshabilitarControlDespacho</servlet-name>
        <servlet-class>Servlet.deshabilitarControlDespacho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deshabilitarIngresoAlmacenProducto</servlet-name>
        <servlet-class>Servlet.deshabilitarIngresoAlmacenProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarPersona</servlet-name>
        <servlet-class>Servlet.guardarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarEmpresa</servlet-name>
        <servlet-class>Servlet.guardarEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarEmpleado</servlet-name>
        <servlet-class>Servlet.guardarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarControlPedidos</servlet-name>
        <servlet-class>Servlet.guardarControlPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarResumenClientes</servlet-name>
        <servlet-class>Servlet.guardarResumenClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarControlDespacho</servlet-name>
        <servlet-class>Servlet.guardarControlDespacho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarIngresoAlmacenProducto</servlet-name>
        <servlet-class>Servlet.guardarIngresoAlmacenProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayChart</servlet-name>
        <servlet-class>Servlet.DisplayChart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>guardarDepartamento</servlet-name>
        <url-pattern>/guardarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarDepartamento</servlet-name>
        <url-pattern>/borrarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarDepartamento</servlet-name>
        <url-pattern>/actualizarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarProvincia</servlet-name>
        <url-pattern>/guardarProvincia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarProvincia</servlet-name>
        <url-pattern>/borrarProvincia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarProvincia</servlet-name>
        <url-pattern>/actualizarProvincia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarDistrito</servlet-name>
        <url-pattern>/guardarDistrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarDistrito</servlet-name>
        <url-pattern>/actualizarDistrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarDistrito</servlet-name>
        <url-pattern>/borrarDistrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarDepartamento</servlet-name>
        <url-pattern>/buscarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autenticacion</servlet-name>
        <url-pattern>/autenticacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deshabilitarDepartamento</servlet-name>
        <url-pattern>/deshabilitarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarPerfil</servlet-name>
        <url-pattern>/guardarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarPerfil</servlet-name>
        <url-pattern>/actualizarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarUsuario</servlet-name>
        <url-pattern>/guardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarUsuario</servlet-name>
        <url-pattern>/actualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarPerfilUsuario</servlet-name>
        <url-pattern>/actualizarPerfilUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarMenu</servlet-name>
        <url-pattern>/guardarMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarMenu</servlet-name>
        <url-pattern>/actualizarMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarSubmenu</servlet-name>
        <url-pattern>/guardarSubmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarSubmenu</servlet-name>
        <url-pattern>/actualizarSubmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarDetallePermiso</servlet-name>
        <url-pattern>/guardarDetallePermiso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarDetallePermiso</servlet-name>
        <url-pattern>/actualizarDetallePermiso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarCargo</servlet-name>
        <url-pattern>/guardarCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarCargo</servlet-name>
        <url-pattern>/borrarCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarCargo</servlet-name>
        <url-pattern>/actualizarCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarArea</servlet-name>
        <url-pattern>/guardarArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarArea</servlet-name>
        <url-pattern>/borrarArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarArea</servlet-name>
        <url-pattern>/actualizarArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarTipoContrato</servlet-name>
        <url-pattern>/guardarTipoContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarTipoContrato</servlet-name>
        <url-pattern>/borrarTipoContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarTipoContrato</servlet-name>
        <url-pattern>/actualizarTipoContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccionesHorario</servlet-name>
        <url-pattern>/AccionesHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarHorario</servlet-name>
        <url-pattern>/guardarHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarHorario</servlet-name>
        <url-pattern>/actualizarHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarHorario</servlet-name>
        <url-pattern>/borrarHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarContrato</servlet-name>
        <url-pattern>/guardarContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarContrato</servlet-name>
        <url-pattern>/actualizarContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarContrato</servlet-name>
        <url-pattern>/borrarContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarLeyenda</servlet-name>
        <url-pattern>/guardarLeyenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarLeyenda</servlet-name>
        <url-pattern>/borrarLeyenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarLeyenda</servlet-name>
        <url-pattern>/actualizarLeyenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarAsistencia</servlet-name>
        <url-pattern>/borrarAsistencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarPersona</servlet-name>
        <url-pattern>/ActualizarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarPersona</servlet-name>
        <url-pattern>/actualizarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accionesEmpresa</servlet-name>
        <url-pattern>/accionesEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarEmpresa</servlet-name>
        <url-pattern>/actualizarEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarEmpleado</servlet-name>
        <url-pattern>/actualizarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarControlPedidos</servlet-name>
        <url-pattern>/actualizarControlPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarResumenClientes</servlet-name>
        <url-pattern>/actualizarResumenClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarControlDespacho</servlet-name>
        <url-pattern>/actualizarControlDespacho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarIngresoAlmacenProducto</servlet-name>
        <url-pattern>/actualizarIngresoAlmacenProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deshabilitarPersona</servlet-name>
        <url-pattern>/deshabilitarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deshabilitarEmpresa</servlet-name>
        <url-pattern>/deshabilitarEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deshabilitarEmpleado</servlet-name>
        <url-pattern>/deshabilitarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deshabilitarPerfil</servlet-name>
        <url-pattern>/deshabilitarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarPerfilUsuario</servlet-name>
        <url-pattern>/borrarPerfilUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarMenu</servlet-name>
        <url-pattern>/borrarMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarSubMenu</servlet-name>
        <url-pattern>/borrarSubMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deshabilitarDetallePermiso</servlet-name>
        <url-pattern>/deshabilitarDetallePermiso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarDetallePermiso</servlet-name>
        <url-pattern>/borrarDetallePermiso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deshabilitarControlPedidos</servlet-name>
        <url-pattern>/deshabilitarControlPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deshabilitarResumenClientes</servlet-name>
        <url-pattern>/deshabilitarResumenClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deshabilitarControlDespacho</servlet-name>
        <url-pattern>/deshabilitarControlDespacho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deshabilitarIngresoAlmacenProducto</servlet-name>
        <url-pattern>/deshabilitarIngresoAlmacenProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarPersona</servlet-name>
        <url-pattern>/guardarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarEmpresa</servlet-name>
        <url-pattern>/guardarEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarEmpleado</servlet-name>
        <url-pattern>/guardarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarControlPedidos</servlet-name>
        <url-pattern>/guardarControlPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarResumenClientes</servlet-name>
        <url-pattern>/guardarResumenClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarControlDespacho</servlet-name>
        <url-pattern>/guardarControlDespacho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarIngresoAlmacenProducto</servlet-name>
        <url-pattern>/guardarIngresoAlmacenProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayChart</servlet-name>
        <url-pattern>/DisplayChart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
